{% extends "base.html" %}
{% load thumbnail %}
{% block title %}People{% endblock %}
{% block content %}
<h1>People</h1>
  <div id="people-list">
    {% for profile in profiles %}
      <div class="user">
        <a href="{{ profile.get_absolute_url }}">
          <img src="{% thumbnail profile.profile_picture 300x300 crop='smart' %}">
        </a>
        <div class="info">
          <a href="{{ profile.get_absolute_url }}" class="title">
            {{ profile.user.get_full_name }}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}